.company-container {
  padding: 0 12px;
}
table {
  width: 100%;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.save-button {
  padding: 12px;
}

.mat-list {
  visibility: hidden;
}

.element-card {
  display: flex;
  flex-direction: row;
}
.element-label {
  flex-grow: 1;
  padding-right: 3px;
}
.element-data {
  flex-grow: 4;
}

@media screen and (max-width: 600px) {
  /*table {
    visibility: hidden;
  }
  .mat-list {
    visibility: visible;
  }*/
  .company-container {
    padding: 0;
  }
  form {
    flex-direction: column;
    padding: 0 12px;
  }
  .mat-form-field {
    width: 100%;
  }
  .save-button {
    width: 100%;
    display: flex;
    justify-content: flex-end
  }
}


