<div class="company-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <mat-accordion>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Create New Company Form
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form" class=form>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="code" placeholder="Code">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="E-Mail">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="phone" placeholder="Phone">
        </mat-form-field>
        <div class=save-button>
          <button mat-flat-button [disabled]="addButtonDisabled || form?.invalid" (click)="create()">Add</button>
        </div>
      </form>
    </mat-expansion-panel>

  </mat-accordion>

  <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- E-Mail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-Mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- Menu Column -->
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" align=right>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openEditPage(element.id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditPage(row.id)"></tr>
  </table>

  <div class=list>
    <div *ngFor="let element of dataSource">
      <mat-card>
        <div class=element-field>
          <div class=element-label>Name:</div>
          <div class=element-data>{{ element.name }}</div>
        </div>
        <div class=element-field>
          <div class=element-label>Code:</div>
          <div class=element-data>{{ element.code }}</div>
        </div>
        <div class=element-field>
          <div class=element-label>E-Mail:</div>
          <div class=element-data>{{ element.email }}</div>
        </div>
        <div class=element-field>
          <div class=element-label>Phone:</div>
          <div class=element-data>{{ element.phone }}</div>
        </div>
      </mat-card>
    </div>
  </div>

</div>

