<div class="item-container">
  <mat-accordion>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Create New Item Form
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form" class=form>
        <mat-form-field>
          <mat-select placeholder="Company" formControlName="companyId">
            <mat-option *ngFor="let company of companyList" [value]="company.id">
              {{company.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="code" placeholder="Code">
        </mat-form-field>
        <mat-form-field>
          <input matInput type=number min="0.01" formControlName="price" placeholder="Price">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>
        <div class=save-button>
          <button mat-flat-button [disabled]="form?.invalid" (click)="create()">Add</button>
        </div>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
  
      <mat-expansion-panel-header>
        <mat-panel-title>
          Import Form CSV
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <label for="file-upload" class="file-upload">
        <mat-icon>backup</mat-icon> Choose CSV file to upload
      </label>
      <input id="file-upload" type="file" (change)="uploadCSV($event)" accept=".csv" />
  
    </mat-expansion-panel>
  
  </mat-accordion>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let element"> {{element.company?.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditPage(row.id)"></tr>
  </table>

</div>