.item-container {
  padding: 0 12px;
}
table {
  width: 100%;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.save-button {
  padding: 12px;
}

.list {
  display: none;
}

.element-field {
  display: grid;
  grid-template-columns: 25% auto;
}
.element-label {
  padding-right: 3px;
}
.element-data {
}

input[type="file"] {
    display: none;
}
.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
  .table {
    display: none;
  }
  .list {
    display: block;
  }
  .item-container {
    padding: 0;
  }
  form {
    flex-direction: column;
    padding: 0 12px;
  }
  .mat-form-field {
    width: 100%;
  }
  .save-button {
    width: 100%;
    display: flex;
    justify-content: flex-end
  }
}
