<div class="item-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <mat-accordion>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Create New Item Form
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form" class=form>
        <mat-form-field>
          <mat-select placeholder="Company" formControlName="companyId">
            <mat-option *ngFor="let company of companyList" [value]="company.id">
              {{company.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="code" placeholder="Code">
        </mat-form-field>
        <mat-form-field>
          <input matInput type=number min="0.01" formControlName="price" placeholder="Price">
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput formControlName="description" placeholder="Description">
        </mat-form-field> -->
        <div class=mat-form-field>
          <div class=mat-form-field-wrapper>
            <label for="image-upload" class="image-upload">
              <mat-icon>add_photo_alternate</mat-icon>
            </label>
            <input
              id="image-upload" type="file"
              (change)="selectImageFile($event)"
              accept="image/gif,image/png,image/jpeg,image/bmp" />
            <img *ngIf="form.value.image" class="form-image-preview" [src]="form.value.image" />
          </div>
        </div>
        <div class=save-button>
          <button mat-flat-button [disabled]="addButtonDisabled || form?.invalid" (click)="create()">Add</button>
        </div>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
  
      <mat-expansion-panel-header>
        <mat-panel-title>
          Import Form CSV
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="uploadForm" class="uploadForm">
        
        <mat-form-field>
          <mat-select placeholder="Company" formControlName="companyId">
            <mat-option *ngFor="let company of companyList" [value]="company.id">
              {{company.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <label for="file-upload" class="file-upload">
            <mat-icon>cloud_upload</mat-icon> Choose CSV file to upload
          </label>
          <input id="file-upload" type="file" (change)="selectFile($event)" accept=".csv" [disabled]="uploadButtonDisabled" />
        </div>
  
        <div class=import-button>
          <button mat-flat-button [disabled]="uploadForm?.invalid" (click)="uploadCSV()">Import</button>
        </div>

        <a href="/api/inventory/template">Download template</a>

      </form>
  
    </mat-expansion-panel>
  
  </mat-accordion>

  <form [formGroup]="searchForm" class="searchForm">
  
    <mat-form-field>
      <mat-select placeholder="Company" formControlName="companyId">
        <mat-option *ngFor="let company of companyList" [value]="company.id">
          {{company.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    </form>

  <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let element"> {{element.company?.name}} </td>
    </ng-container>
  
    <!-- Company Image -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> <img *ngIf="element.image" class=cell-img [src]="element.image" /> </td>
    </ng-container>
  
    <!-- Menu Column -->
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" align=right>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openEditPage(element.id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="remove(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditPage(row.id)"></tr>
  </table>

  <div class=list>
    <div *ngFor="let element of dataSource">
      <mat-card>
        <div class=element-field>
          <div class=element-label>Name:</div>
          <div class=element-data>{{ element.name }}</div>
        </div>
        <div class=element-field>
          <div class=element-label>Code:</div>
          <div class=element-data>{{ element.code }}</div>
        </div>
        <div class=element-field>
          <div class=element-label>Price:</div>
          <div class=element-data>{{ element.price }}</div>
        </div>
        <div class=element-field>
          <div class=element-label>Company:</div>
          <div class=element-data>{{ element.company?.name }}</div>
        </div>
      </mat-card>
    </div>
  </div>

</div>