.mat-form-field {
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
}

.feature .mat-form-field {
  width: auto;
}
.feature-name {
  flex-grow: 3
}
.feature-value {
  flex-grow: 7
}
.feature-remove {
  align-self: center;
  cursor: pointer;
}
.table {
  width: 100%;
}

.table-wrap {
  max-height: 320px;
  overflow: auto;
}
